# Frontend Environment Variables Template
#
# In local development: copy this file to .env.local and adjust if necessary.
# In production (e.g. Vercel, Netlify): add this variable in your project settings.

# The public base URL for your backend API
NEXT_PUBLIC_API_URL="http://localhost:5066/v1/api"
